.riverrace-banner {
   background-color: rgb(79, 145, 225);
   padding: 1em;
   color: #fff;
}

.collection {
   margin: 0;
}

i {
   padding: 0 1em 0 1em;
}

.log-card {
   margin: 4em 0 4em 0;
}

.fame-table {
   margin-bottom: 4em;
}

.fas {
   line-height: none;
}
